
// ----------------------------------
// VARIABLES ------------------------
// ----------------------------------


// Font Styles
$font-family: 'Lato', sans-serif;


// Base Colors
$color-primary: #58e1c1;
$text-color-primary: #777;
$link-color-primary: #51ddfc;
$image-border-color: #ccc;
$white: #fff;

// Button Colors
$default-button-color: #51ddfc;
$error-button-color: #e4757a;
$info-button-color: #927bc1;
$success-button-color: #63cc82;
$warning-button-color: #fd7856;

// Grid Colors
$grid-color-1: #927bc1;
$grid-color-2: #fd7856;
$grid-color-3: #deb2ee;
$grid-color-4: #7ee6fd;
$grid-color-5: #88d9a0;
$grid-color-6: #4da2bb;
$grid-color-7: #ec9fa3;
$grid-color-8: #fd9f85;
$grid-color-9: #e4757a;
$grid-color-10: #63cc82;
$grid-color-11: #51ddfc;
$grid-color-12: #80e8d1;


// Breakpoints
$desktop-breakpoint: 768px;