/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @include button;
}

.default {
  background-color: $default-button-color;
}

.error {
  background-color: $error-button-color;
}

.info {
  background-color: $info-button-color;
}

.success {
  background-color: $success-button-color;
}

.warning {
  background-color: $warning-button-color;
}