/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @include button;
  &.default:hover {
    background-color: $default-button-color-light;
  }
  &.error:hover {
    background-color: $error-button-color-light;
  }
  &.info:hover {
    background-color: $info-button-color-light;
  }
  &.success:hover {
    background-color: $success-button-color-light;
  }
  &.warning:hover {
    background-color: $warning-button-color-light;
  }
}

.default {
  background-color: $default-button-color;
}

.error {
  background-color: $error-button-color;
}

.info {
  background-color: $info-button-color;
}

.success {
  background-color: $success-button-color;
}

.warning {
  background-color: $warning-button-color;
}
