/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
}

.row {
  @include flexbox(column);
  padding: 1em 10px;
}

[class^=col] {
  @include grid-structure;
}

.theme.col-1 {
  background-color: $grid-color-1;
}

.theme.col-2 {
  background-color: $grid-color-2;
}

.theme.col-3 {
  background-color: $grid-color-3;
}

.theme.col-4 {
  background-color: $grid-color-4;
}

.theme.col-5 {
  background-color: $grid-color-5;
}

.theme.col-6 {
  background-color: $grid-color-6;
}

.theme.col-7 {
  background-color: $grid-color-7;
}

.theme.col-8 {
  background-color: $grid-color-8;
}

.theme.col-9 {
  background-color: $grid-color-9;
}

.theme.col-10 {
  background-color: $grid-color-10;
}

.theme.col-11 {
  background-color: $grid-color-11;
}

.theme.col-12 {
  background-color: $grid-color-12;
}

.card {
  flex-basis: 100%;
}